#General
/.vscode
/tests

# Preparation Project
/PreperationProject/ProdConTestEX.exe

# Final Project
FinalProject/obj
FinalProject/bin
FinalProject/logs
FinalProject/data
FinalProject/assignement.md